/* Container Styling */
.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
  }
  
  /* Content Section */
  .register-content {
    flex: 1;
  }
  
  .register-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #283346;
    margin: 0;
  }
  
  .register-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #4b5563;
    margin: 10px 0;
  }
  
  .register-date {
    font-size: 1rem;
    color: #6b7280;
    margin: 10px 0;
  }
  
  /* Button Styling */
  .register-button {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #ffffff;
    border: 1px solid #0866FF;
    border-radius: 20px;
    padding: 20px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
  }
  
  .register-button:hover {
    background-color: rgb(255, 127, 157);
    border:rgb(255, 127, 157);
    color:rgb(255, 255, 255);
  }
  
  .register-icon {
    fill: #6b7280;
  }
  
  /* Icon Box Styling */
  .register-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(139, 92, 246, 0.1);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 6px rgba(139, 92, 246, 0.2);
  }
  
  .icon {
    fill: #8b5cf6;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .register-container {
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
  
    .register-content {
      text-align: center;
    }
  
    .register-title {
      font-size: 1.5rem;
    }
  
    .register-subtitle {
      font-size: 1rem;
    }
  
    .register-date {
      font-size: 0.9rem;
    }
  
    .register-icon-box {
      margin-top: 20px;
      width: 50px;
      height: 50px;
    }
  }
  