.tracks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
  }
  
  .track-box {
    flex: 1 1 calc(33.333% - 20px); /* Three boxes in a row on large screens */
    max-width: calc(33.333% - 20px);
    min-width: 250px; /* Prevent boxes from becoming too small */
    background: rgba(255, 255, 255, 0.073);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
  }
  
  .track-box h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .track-box p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.6;
  }
  
  @media (max-width: 1024px) {
    .track-box {
      flex: 1 1 calc(50% - 20px); /* Two boxes in a row for medium screens */
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .track-box {
      flex: 1 1 100%; /* One box per row for small screens */
      max-width: 100%;
    }
  }
  